parameters:
    level: 7
    paths:
        - src
        - config
        - routes
    tmpDir: build/phpstan
    scanFiles:
        - vendor/vrana/adminer/adminer/include/adminer.inc.php
        - vendor/vrana/adminer/adminer/include/plugins.inc.php
        - vendor/vrana/adminer/adminer/include/plugin.inc.php
        - vendor/vrana/adminer/adminer/include/html.inc.php
        - vendor/vrana/adminer/adminer/include/driver.inc.php
    stubFiles:
        - phpstan-stubs/AdminerDesigns.stub.php
    typeAliases:
        TableStatus: "array{Name:string, Engine?:?string, Comment?:string, Oid?:numeric-string, Rows?:?numeric-string, Collation?:string, Auto_increment?:?numeric-string, Data_length?:numeric-string, Index_length?:numeric-string, Data_free?:numeric-string, Create_options?:string, partition?:numeric-string, nspname?:string}"
